- project_id = @sample.project.id

= simple_form_for @sample do |form|
  - if create
    = form.input :name
  %br
  %input{ :type => 'hidden', :name => 'project_id', :value => "#{project_id}" }
  %br
  = form.submit 'Save', :name => 'result'
  = form.submit 'Cancel', :name => 'result'
  .clear

.clear
