- title "Sample <em>#{h @sample.name}</em>".html_safe
- stylesheet :tables, :datasets

= render :partial => "properties", :object => @sample
= render :partial => "images/on_object", :object => @sample
= render :partial => "comments/on_object", :object => @sample

%h2
  = @sample.data_nodes.empty? ? "No Datasets." : "Datasets:"
  - if may_edit(@sample)
    %span.action-links
      - if params[:showall]
        = link_to "Exclude hidden", url_for(:showall => nil)
      - else
        = link_to "Include hidden", url_for(:showall => 1)

- @sample.nodes_with_levels.each do |v, level, hideable|
  - node = @sample.data_nodes_by_id[v]
  - if !node.hidden or params[:showall]
    - graph = @sample.graph
    - locals = { :graph => graph, :level => level, :hideable => hideable }
    = render :partial => 'data_nodes/dataset', :locals => locals, :object => node

- if may_edit(@sample)
  %p
    %span#import-link.dj-replace.dj-anchor.action-links
      %a.dj-link{ :href => new_import_url(:sample_id => @sample.id) }
        Import data
  #import.dj-replace.dj-anchor

%h2 Imports:
%p= link_to 'Show Imports', imports_url(:sample_id => @sample.id)
