- stylesheet :forms

.dj-form
  = formular_for(@comment) do |form|
    = form.hidden_field :on_class
    = form.hidden_field :on_id
    = form.hidden_field :author_id
    = form.text_area :text, :cols => 80, :rows => 10, :label => ''
    %br
    = form.result_buttons

.note
  (See
  %a{ :href => "http://redcloth.org/" } http://redcloth.org/
  for markup options.)
.clear
