- stylesheet :forms

= simple_form_for @user do |f|
  = f.input :login_name
  = f.input :first_name
  = f.input :last_name
  = f.input :organization
  = f.input :email
  = f.input :homepage
  = f.input :password
  = f.input :password_confirmation, :label => 'Confirm password'

  - User::ABILITIES.each do |a|
    - if can_authorize?(@user, a)
      %p= f.input User.ability_getter(a), :as => :boolean

  %br
  = f.submit 'Save', :name => 'result'
  = f.submit 'Cancel', :name => 'result'
  .clear
.clear
