- stylesheet :forms

%fieldset
  - make_form_for(@user) do |f|
    = f.text_field :login_name, :required => true
    = f.text_field :first_name, :required => true
    = f.text_field :last_name, :required => true
    = f.text_field :organization
    = f.text_field :email, :required => true
    = f.text_field :homepage
    = f.password_field :password, :required => true
    = f.password_field :password_confirmation, :label => "Confirm password", |
                                               :required => true |

    = f.result_buttons
.clear
