- title 'Users'
- stylesheet :tables

%table.zebra
  %thead
    %tr
      %th User
      %th Name
      %th Email
      %th Organization
      %th Homepage
      %th Last active
  
  %tbody
    - @users.select(&method(:may_view)).each do |user|
      %tr{ :class => cycle('even', 'odd') }
        %td= link_to(user.login_name, user)
        %td= user.name
        %td= user.email
        %td= user.organization
        %td= user.homepage
        %td= user.last_active && user.last_active.strftime("%d-%B-%Y %H:%M:%S")

%br
= link_to('New user', new_user_path) if may_authorize
