- title "User <em>#{h @user.login_name}</em>".html_safe
- stylesheet :properties

%h2
  Details:
  %span.action-links
    - if may_edit(@user)
      =link_to 'Edit', edit_user_url(@user)

.properties
  %ul
    %li
      %dfn Full name:
      = @user.name
    %li
      %dfn Email:
      = @user.email
    - unless @user.organization.blank?
      %li
        %dfn Organization:
        = @user.organization
    - unless @user.homepage.blank?
      %li
        %dfn Homepage:
        = @user.homepage
    %li
      %dfn Abilities:
      = (@user.abilities || []).join(', ')
= timestamps(@user)

%h2 Projects:
= @user.projects.map { |p| link_to(h(p.name), p) }.join(', ').html_safe
