- title 'New Import'
- desc_format = { :rows => 5, :cols => 80 }

#import-link.dj-replace.dj-anchor

%fieldset#import.dj-replace.dj-form.dj-anchor
  = simple_form_for @import, :html => {:multipart => true} do |form|
    %input{ :type => 'hidden', :name => 'sample_id', :value => @sample.id }
    %p= form.input :data, :as => :file, :label => 'JSON Data'
    = form.input :description, :as => :text, :input_html => desc_format
    %br
    = form.submit 'Save', :name => 'result'
    = form.submit 'Cancel', :name => 'result'
