- title 'Import'
- stylesheet :properties

.properties
  %ul
    %li
      %dfn Uploaded by
      = link_to (@import.user.name, @import.user) if @import.user
    %li
      %dfn Project
      = link_to @import.project.name, @project
    %li
      %dfn Sample
      = @import.sample_name || dash
    %li
      %dfn Source Date
      = format_time(@import.source_timestamp) || dash
= timestamps(@import)

- if @import.description.blank?
  %h2 No description.
- else
  %h2 Description:
  .comment= format_text(@import.description)

- if @import.import_log.blank?
  %h2 Import log is empty.
- else
  %h2 Import Log:
  .collapsible.comment
    %tt
      %small
        %pre= @import.import_log.to_yaml

- if @import.content.blank?
  %p Source is empty.
- else
  %h2 Full Source:
  .collapsible.comment
    %tt
      %small
        %pre= @import.content.to_yaml
