- title 'Import'
- stylesheet :properties, :tabs
- sample = @import.sample

%p
  %b Project:
  = link_to sample.project.name, sample.project
  &mdash;
  %b Sample:
  = link_to sample.name, sample
%br

.properties
  %ul
    %li
      %dfn Uploaded by
      = link_to (@import.user.name, @import.user) if @import.user
    %li
      %dfn Source Date
      = format_time(@import.source_timestamp) || dash
= timestamps(@import)

- if @import.description.blank?
  %h2 No description.
- else
  %h2 Description:
  .comment= format_text(@import.description)

%h2 Details:
.tabs-container
  %input{ :type => 'hidden' }
  %ul
    = tab_link('#import_log', 'Import Log')
    = tab_link('#source', 'Full Source')

  #import_log
    - unless @import.import_log.blank?
      %pre.code= @import.import_log.to_yaml

  #source
    - unless @import.content.blank?
      %pre.code= @import.content.to_yaml
