- stylesheet :forms
- stylesheet :tables

= formular_for(@project) do |form|
  = form.text_field :name, :required => true if create
  = form.text_field :organization
 
  %p
    %label Members:
  %table
    %thead
      %tr
        %th User
        %th No Access
        %th Read Only
        %th Read/Write
        %th Manage
    %tbody
      = form.fields_for :roles do |role_fields|
        - user = role_fields.object.user
        %tr
          %td
            = role_fields.hidden_field :user_id
            = link_to user.name, user
          %td= role_fields.radio_button :role, '', :label => ''
          %td= role_fields.radio_button :role, 'client', :label => ''
          %td= role_fields.radio_button :role, 'contributor', :label => ''
          %td= role_fields.radio_button :role, 'manager', :label => ''

  %p= form.result_buttons
  .clear
.clear
