= simple_form_for @project do |form|
  - if create
    = form.input :name
  = form.input :organization
 
  %p
    %label Members:
  %table
    %thead
      %tr
        %th User
        %th No Access
        %th Read Only
        %th Read/Write
        %th Manage
    %tbody
      = form.fields_for :roles do |role_fields|
        - user = role_fields.object.user
        %tr
          %td
            = role_fields.input :user_id, :as => :hidden
            = link_to user.name, user
          %td= role_fields.radio_button :role, '', :label => ''
          %td= role_fields.radio_button :role, 'client', :label => ''
          %td= role_fields.radio_button :role, 'contributor', :label => ''
          %td= role_fields.radio_button :role, 'manager', :label => ''

  %br
  = form.submit 'Save', :name => 'result'
  = form.submit 'Cancel', :name => 'result'
  .clear
.clear
