- title "Project <em>#{h @project.name}</em>".html_safe
- stylesheet :tables, :datasets

= render :partial => "properties", :object => @project
= render :partial => "images/on_object", :object => @project
= render :partial => "comments/on_object", :object => @project

- if may_edit(@project)
  = link_to 'New sample', new_project_sample_path(@project)
