- title "Project <em>#{h @project.name}</em>".html_safe
- stylesheet :tables

= render :partial => "properties", :object => @project
= render :partial => "images/on_object", :object => @project
= render :partial => "comments/on_object", :object => @project

%h2
  = if @project.samples.empty? then "No Sample." else "Samples:" end
  %span.action-links
    = link_to "Add one", new_sample_path(:project_id => @project.id)

%table.zebra
  %thead
    %tr
      %th Sample
      %th External ID
      %th Data Nodes
  %tbody
    - @project.samples.each do |s|
      %tr
        %td= link_to s.name, s
        %td= s.external_id
        %td= s.data_nodes.count
