- url = project_data_node_url(dataset.project, dataset)
- hidden = dataset.hidden ? ' hidden' : ''
- hideable = hideable ? ' hideable' : ''
- level = 0 if not defined?(level) or level.nil?

%div{ :id => "x#{dataset.id}x", :class => "data-set#{hideable}" }
  %span.predecessors{ :style => "display: none" }
    == x#{dataset.predecessors.map(&:id).to_a.join('x')}x
  %span.successors{ :style => "display: none" }
    == x#{dataset.successors.map(&:id).to_a.join('x')}x
  %a{ :href => url }
    %span{ :class => "data-set-header #{dataset.status}#{hidden}", |
           :style => "margin-left: #{level * 8}pt" } |
      %span.data-set-popup
        = dataset.suffix
        - if dataset.status == 'error'
          %em (rejected)
        %br/
        %dfn Sample:
        = dataset.sample
        %br/
        %dfn Process:
        = (dataset.producer.data_type || "").underscore.humanize
        %br/
        %dfn Time:
        = format_time(dataset.date, :mode => :sortable, :zone => true)
        %br/
        - unless dataset.producer.run_by.blank?
          %dfn Operator:
          = dataset.producer.run_by
          %br/
        - for pic in dataset.images
          %img{:src => picture_url("#{pic.id}_small"), :alt => ""}
      &nbsp;
      %dfn= (dataset.data_type || "").underscore.humanize.titleize
      == (#{h(dataset.last_suffix)})
      &nbsp;
      - if dataset.images.empty?
        &mdash;
      - else
        %img{:src => "/images/grains-tiny.png", :alt => ""}
      &nbsp;
      = format_time(dataset.date, :mode => :terse)
      - if dataset.filename
        &nbsp; &bull;
