.properties
  %ul
    %li
      %dfn Origin
      - x = domain.domain_origin_x
      - y = domain.domain_origin_y
      - z = domain.domain_origin_z
      == (#{x}, #{y}, #{z})
    %li
      %dfn Size
      - x = domain.domain_size_x
      - y = domain.domain_size_y
      - z = domain.domain_size_z
      == #{x} &times; #{y} &times; #{z}
    %li
      - unit = h(domain.voxel_unit).sub(/\Amicron\Z/, "&micro;").html_safe
      %dfn== Voxel size (#{unit})
      - x = "%.2f" % domain.voxel_size_x
      - y = "%.2f" % domain.voxel_size_y
      - z = "%.2f" % domain.voxel_size_z
      == #{x} &times; #{y} &times; #{z}
