- title "Dataset <em>#{breakable(@data_node.suffix)}</em>".html_safe
- stylesheet :datasets, :tabs
- process_node = @data_node.producer

%p
  %b Project:
  = link_to @project.name, @project
  &mdash;
  %b Sample:
  = @data_node.sample

= render :partial => "comments/on_object", :object => @data_node

- if @data_node.hideable?
  %h2
    %span.action-links
      - text = @data_node.hidden ? "Include Node in" : "Exclude Node from"
      - url = toggle_project_data_node_url(@project, @data_node)
      = link_to "#{text} Project View", url, :method => :put

%h2 Details:

.tabs-container
  %input{ :type => 'hidden' }
  %ul
    = tab_link('#general', 'General')
    = tab_link('#predecessors', 'Predecessors')
    = tab_link('#successors', 'Successors')
    = tab_link('#parameters', 'Parameters')
    = tab_link('#output', 'Process Output')
    = tab_link('#history', 'History Entry')

  #general
    = render "properties"

  #parameters
    = render "parameters"

  #output
    - unless process_node.output_log.blank?
      %pre.code= process_node.output_log

  #history
    - unless process_node.history.blank?
      %pre.code= process_node.history

  #predecessors
    = render :partial => "dataset", |
             :collection => @data_node.predecessors.resolved |

    - unless @data_node.predecessors.missing.empty?
      %h4 Unresolved:
      %ul
      - for v in @data_node.predecessors.missing
        %li= v.identifier || v.name

  #successors
    = render :partial => "dataset", :collection => @data_node.successors
.clear
