- title "Dataset <em>#{breakable(@data_node.suffix)}</em>".html_safe
- process_node = @data_node.producer

%p
  %b Project:
  = link_to @sample.project.name, @sample.project
  &mdash;
  %b Sample:
  = link_to @sample.name, @sample

= render :partial => "images/on_object", :object => @data_node
= render :partial => "comments/on_object", :object => @data_node

- unless @data_node.messages.empty?
  %h2 Import Messages:
  = format_text @data_node.messages.split("\n").map { |t| '* ' + t }.join("\n") 

- if @data_node.hideable?
  %h2
    %span.action-links
      - text = @data_node.hidden ? "Include Node in" : "Exclude Node from"
      - url = toggle_data_node_url(@data_node)
      = link_to "#{text} Sample View", url, :method => :put

%h2 Details:

.tabs-container
  %input{ :name => 'active_tab', :type => 'hidden' }
  %ul
    = tab_link('#general', 'General')
    = tab_link('#predecessors', 'Predecessors')
    = tab_link('#successors', 'Successors')
    = tab_link('#parameters', 'Parameters')
    = tab_link('#output', 'Process Output')
    = tab_link('#history', 'History Entry')

  #general
    = render "properties"

  #parameters
    = render "parameters"

  #output
    - unless process_node.output_log.blank?
      %pre.code= process_node.output_log

  #history
    - unless process_node.history.blank?
      %pre.code= process_node.history

  #predecessors
    = render :partial => "dataset", :locals => { :graph => @sample.graph }, |
             :collection => @data_node.predecessors.resolved |

    - unless @data_node.predecessors.missing.empty?
      %h4 Unresolved:
      %ul
      - for v in @data_node.predecessors.missing
        %li= v.identifier || v.name

  #successors
    = render :partial => "dataset", :locals => { :graph => @sample.graph }, |
             :collection => @data_node.successors |
.clear
