- target = [@illustratable, @image]
- caption_format = { rows: 5, cols: 80 }

%fieldset.dj-form
  = simple_form_for target, :html => {:multipart => true} do |form|
    %p= form.input :uploaded_data, :as => :file, :label => 'Image file'
    = form.input :caption, :as => :text, :input_html => caption_format
    %br
    = form.submit 'Save', :name => 'result'
    = form.submit 'Cancel', :name => 'result'

.note
  (See
  %a{ :href => "http://redcloth.org/" } http://redcloth.org/
  for markup options.)
.clear
