!!! Strict
%html{html_attrs}
  - stripped = request.xhr? || params[:stripped]

  %head
    %meta{"http-equiv"=>"Content-Type", :content=>"text/html; charset=utf-8"}/
    %title== Plexus - #{strip_html(yield(:title))}
    = csrf_meta_tag
    - unless stripped
      = stylesheet_link_tag 'application'
      = javascript_include_tag 'jquery'
      = javascript_include_tag 'jquery.form', 'jquery.djtch'
      = javascript_include_tag 'rails', 'application'
      = yield(:head)
  %body
    #page
      - unless stripped
        #navigation
          %ul
            %li= link_to "Projects", projects_url
            %li= link_to "Users", users_url
            - if current_user
              %li= link_to "Logout", logout_url
            - else
              %li= link_to "Login", login_url
        #header
          %img{ :src => "/images/grains-with-gradient.png", :alt => "" }
          #logo
            %img{ :src => "/images/logo-with-gradient.png", :alt => "PLEXUS" }
        .clear
  
      #status-line
        #time-display== #{current_user && current_user.name} #{current_time}
        #notice.dj-replace.dj-anchor
          - if flash[:notice]
            %pre= flash[:notice]
            - flash[:notice] = nil
      .clear
  
      #content
        - if show_title? and not stripped
          %h1= yield(:title)
  
        - if flash[:alert] or flash[:error]
          #errors.dj-replace.dj-anchor
            #flash_alert
              %pre= flash[:alert]
              - flash[:alert] = nil
              %pre= flash[:error]
              - flash[:error] = nil
  
        #raw-content.dj-context= yield
      .clear

      - unless stripped
        #footer
          - if Rails.env.production?
            All rights reserved.
          - else
            Experimental Rails3 version.
        .clear
